@font-face {
  font-weight: 300;
  font-style: normal;
  font-family: "Raleway";
  src: local("Raleway Light"), local("Raleway-Light"), url("../fonts/ralewaylight.woff") format("woff"), url("../fonts/ralewaylight.woff2") format("woff2");
}
@font-face {
  font-weight: 400;
  font-style: normal;
  font-family: "Raleway";
  src: local("Raleway Regular"), local("Raleway-Regular"), url("../fonts/ralewayregular.woff") format("woff"), url("../fonts/ralewayregular.woff2") format("woff2");
}
@font-face {
  font-weight: 500;
  font-style: normal;
  font-family: "Raleway";
  src: local("Raleway Medium"), local("Raleway-Medium"), url("../fonts/ralewaymedium.woff") format("woff"), url("../fonts/ralewaymedium.woff2") format("woff2");
}
@font-face {
  font-weight: 600;
  font-style: normal;
  font-family: "Raleway";
  src: local("Raleway SemiBold"), local("Raleway-SemiBold"), url("../fonts/ralewaysemibold.woff") format("woff"), url("../fonts/ralewaysemibold.woff2") format("woff2");
}
body {
  font-family: "Raleway", "Arial", sans-serif;
}
body,
figure,
h1,
h2,
h3,
p,
ul {
  margin: 0;
}
figure,
ul {
  padding: 0;
}
.contacts {
  min-height: 100px;
}
.contacts__list {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  list-style-type: none;
}
.contacts__item--telegram {
  margin-left: auto;
}
.contacts__item--skype,
.contacts__item--github {
  margin-left: 10px;
}
.contacts__item:hover .contacts__link {
  opacity: 0.4;
  transition: opacity 0.2s linear;
}
.contacts__link {
  outline: none;
  color: #6195ed;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 14px;
  font-weight: 600;
  line-height: 1.5;
  transition: opacity 0.2s linear;
}
.container {
  margin: auto;
  padding: 0 20px;
  max-width: 1240px;
}
.projects {
  border-bottom: 10px solid #1a1a1a;
}
@media (min-width: 920px) {
  .projects {
    border-color: #dfeafb;
    border-top-width: 10px;
    border-top-style: solid;
  }
}
.projects__desktops {
  display: none;
}
@media (min-width: 920px) {
  .projects__desktops {
    display: inline;
  }
}
.projects__adaptive {
  color: rgba(255,255,255,0.5);
}
@media (min-width: 920px) {
  .projects__adaptive {
    display: none;
  }
}
.projects__list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  list-style-type: none;
}
.projects__info {
  position: absolute;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 10;
  padding: 15px;
  background-color: #1a1a1a;
  color: #fff;
  letter-spacing: 1px;
  font-size: 12px;
  font-weight: 500;
  line-height: 1.2;
  opacity: 0;
  transition: opacity 0.2s linear;
}
.projects__title {
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  display: inline-block;
  padding: 10px 5px;
  background-color: #6195ed;
  transition: border-color 0.4s linear;
}
@media (min-width: 600px) {
  .projects__title {
    padding: 20px 5px;
  }
}
@media (min-width: 920px) {
  .projects__title {
    position: static;
    padding: 5px 0;
    width: auto;
    border: none;
    border-bottom: 2px solid transparent;
    background-color: transparent;
  }
}
.projects__item {
  position: relative;
  flex-basis: 100%;
  background-position: center top 36px;
  background-size: 100% auto;
  background-repeat: no-repeat;
  text-align: center;
  transition: background-size 0.25s linear;
}
@media (min-width: 600px) {
  .projects__item {
    background-position: center top 58px;
  }
}
@media (min-width: 920px) {
  .projects__item {
    background-position: center top;
  }
}
@media (min-width: 920px) and (max-width: 1439px) {
  .projects__item {
    flex-basis: 50%;
  }
}
@media (min-width: 1440px) {
  .projects__item {
    flex-basis: 33.3%;
  }
}
.projects__item::before {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  background-color: transparent;
  content: "";
  transition: background-color 0.25s linear;
}
@media (min-width: 920px) {
  .projects__item:hover {
    background-size: 105% auto;
    transition: background-size 0.4s linear;
  }
  .projects__item:hover .projects__info {
    opacity: 1;
    transition: opacity 0.2s linear;
  }
  .projects__item:hover .projects__title {
    border-color: rgba(255,255,255,0.95);
    transition: border-color 0.4s linear;
  }
  .projects__item:hover .projects__link {
    color: rgba(255,255,255,0.95);
    transition: color 0.4s linear;
  }
  .projects__item:hover::before {
    background-color: rgba(97,149,237,0.9);
    transition: background-color 0.2s linear;
  }
}
.projects__link {
  position: relative;
  z-index: 5;
  display: block;
  padding: 34.7% 0;
  color: #fff;
  text-decoration: none;
  letter-spacing: 2px;
  font-size: 11px;
  font-weight: 600;
  line-height: 1.5;
  transition: color 0.4s linear;
}
@media (min-width: 600px) {
  .projects__link {
    padding: 32% 0;
    font-size: 13px;
  }
}
@media (min-width: 920px) {
  .projects__link {
    padding: 28% 0;
    color: transparent;
    font-size: 14px;
  }
}
@media (min-width: 1440px) {
  .projects__link {
    font-size: 15px;
  }
}
.projects__item:nth-of-type(1) {
  background-image: url("../img/project-image-1@2x.jpg");
}
.projects__item:nth-of-type(2) {
  background-image: url("../img/project-image-2@2x.jpg");
}
.projects__item:nth-of-type(3) {
  background-image: url("../img/project-image-3@2x.jpg");
}
.projects__item:nth-of-type(4) {
  background-image: url("../img/project-image-4@2x.jpg");
}
.projects__item:nth-of-type(5) {
  background-image: url("../img/project-image-5@2x.jpg");
}
.projects__item:nth-of-type(6) {
  background-image: url("../img/project-image-6@2x.jpg");
}
.visually-hidden {
  display: none;
}
