doctype html

html(lang = "ru")
  include parts/head.pug

  body
    include parts/svg-sprite.pug

    header
      section.contacts.container
        ul.contacts__list
          li.contacts__item: a.contacts__link(href = "mailto:89099109104@mail.ru") Написать мне письмо
          li.contacts__item.contacts__item--telegram: a.contacts__link(href = "https://telegram.me/meowmeowmeow", target = "_blank") Telegram
          li.contacts__item.contacts__item--skype: a.contacts__link(href = "skype:live:lofwyhr") Skype
          li.contacts__item.contacts__item--github: a.contacts__link(href = "https://github.com/inwisloklem", target = "_blank") GitHub

    main
      section.projects
        ul.projects__list
          li.projects__item
            a.projects__link(href = "pink")
              span.projects__title Промо-сайт #[span.projects__desktops мобильного] приложения #[span.projects__adaptive (адаптивный)]
            .projects__info Адаптивный · Резиновый · BEM · Pug/Jade · Less · JS · Gulp
          li.projects__item
            a.projects__link(href = "mishka")
              span.projects__title Интернет-магазин игрушек #[span.projects__adaptive (адаптивный)]
            .projects__info Адаптивный · BEM · JS · Sass/Scss · Gulp
          li.projects__item
            a.projects__link(href = "medical")
              span.projects__title Медицинский центр #[span.projects__adaptive (адаптивный)]
            .projects__info Адаптивный · Резиновый · BEM · Pug/Jade · Stylus · JS · Gulp
          li.projects__item
            a.projects__link(href = "activebox")
              span.projects__title Одностраничный шаблон
            .projects__info Резиновый · BEM · Pug/Jade · Stylus · Gulp
          li.projects__item
            a.projects__link(href = "icndy")
              span.projects__title Интернет-магазин одежды
            .projects__info Фиксированный · BEM · Pug/Jade · Sass/Scss · Gulp
          li.projects__item
            a.projects__link(href = "sedona")
              span.projects__title Туристический сайт
            .projects__info Фиксированный · JS
